/* CSS files add styling rules to your content */

body,
html {
  height: 100%;
  margin: 0px;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdn.glitch.com/aecada4f-cb2e-4bf3-90cf-63a8de355953%2Fpp.jpg?v=1592363250169");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

body {
font-family: 'Indie Flower';font-size: 22px;
}


h1 {
  padding-top: 150px;
  font-style: italic;
  color: #000000;
  font-family: 'Open Sans', sans-serif;  
  text-align: center;
}


p {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

p2{
  font-family: 'Open Sans', sans-serif;
  
}

a {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  
}

w3-container {
  margin: auto;
  width: 120px;
  min-height: 120px;
  max-height: auto;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: white; 
  background-image: linear-gradient(to right, #424242, #212121); 
  
}
.stuffgoeshehe {height: 66%;}

.topnav {
  background-color: #009ce1;
  overflow: hidden;
}
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 28px;
  text-decoration: none;
  font-size: 24px;

}

.active {
  background-color: #00;
  color: white;
  float: left;
}

.topnav .icon {
  display: none;

}


.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  padding: 24px 28px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
  font-family: 'Open Sans', sans-serif;

}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.bgred {
  background-color: red;
}

.grad{
  background-color: white; 
  background-image: linear-gradient(to right, #212121, #424242); 
}

  
w3-col {
  align: center;
  width: 20%;
  height: 100%;
  padding: 15px;
}

w3-row {
  content: "";
  clear: both;
  display: table;
  width: 20%;
  height: 100%;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.footer-purple {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #760296;
  color: white;
  text-align: center;
  
}
.grad{
  background-color: white; 
  background-image: linear-gradient(to right, #424242, #212121); 
}

.navbar-purple {
  background-color: #760296;
  overflow: hidden;
}

.navbar-green {
  background-color: #00773a;
  overflow: hidden;
}

.navbar-orangey-red {
  background-color: #ff7200;
  overflow: hidden;
}

.navbar-pinky {
  background-color: #ff0071;
  overflow: hidden;
}

.navbar-yellow {
  background-color: #ffe300;
  overflow: hidden;
  background-image: linear-gradient(to right, #FFE300, #E8B80C); 
}

.navbar-blue{
  background-color: #009ce1;
  overflow: hidden;
}

.footer-yellow {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffe300;
  color: white;
  text-align: center;
    background-image: linear-gradient(to right, #E8B80C, #FFE300); 
}

.footer-blue {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #009ce1;
  color: white;
  text-align: center;
  
}

.footer-pinky {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ff0071;
  color: white;
  text-align: center;
  
}

.footer-orangey-red {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ff7200;
  color: white;
  text-align: center;
  
}

.footer-green {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00773a;
  color: white;
  text-align: center;
  
}

.container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container img{
   max-width: 77%;
    min-width: 77px;
    height: auto;

  
}

div.gallery {
  margin: 5px;
  border: 0px solid #ccc;
  float: left;
  width: 180px;
  height: 225px;
  display: flex;
  justify-content: center;
  
}

div.gallery:hover {
  border: 1px solid #777;
  
}

div.gallery img {
  height: 225px;
  width: 100%;
   display: flex;
  justify-content: center;
 height: 10vw;
  width: 10vw;
}

div.desc {
  padding: 4px;
  font-size: 1vh;
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  z-index:1000;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.house-logo {
  height: 2vw;
  float: left;
  
}

.housecaptainimages {
  text-align: center;
  padding: 25px;

}


.schoolhousetrophy {
height: auto;
max-width: 100%;
text-align: center;
padding-top: 100px;
}

@media only screen and (max-width: 600px) {

   body { 
      font-size: 14px;
   }

}



@media only screen and (max-width: 460px) {

   body { 
      font-size: 21px;
   }

}

.slider-frame{
  overflow: hidden;
  height: 800px;
  width: 1200px;
  margin-left: 360px;
  margin-top: 20px;
}
@-webkit-keyframes slide_animation {
  0% {left:0px;}
  10% {left:0px;}
  20% {left:1200px;}
  30% {left:1200px;}
  40% {left:2400px;}
  50% {left:2400px;}
  60% {left:1200px;}
  70% {left:1200px;}
  80% {left:0px;}
  90% {left:0px;}
  100% {left:0px;}
}
  
  .slide-images {
    width: 3600px;
    height: 800px; 
    margin: 0 0 0 -2400px;
    position: relative; 
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;   
  }
  
.img-container{
  height: 800px;
  width: 1200px;
  position: relative;
  float: left;  
}
  
  
  
  
